.modal-title {
    color: $naranja-back;
    font-family: 'Open Sans';
    font-weight: $open-sans-bold;
}
.modal-body {
    color: $blanco;
    background-color: $azul-oscuro;
    font-family: 'Roboto';
    font-weight: $roboto-ligth;
}