.logo-nav {
    height: 47px;
    width: 175px;
}

.navbar {
    background-color: $azul-oscuro;
    
}
.nav-link {
    color: $blanco;
    font-family: $roboto-regular;
}
.dropdown-menu {
    background-color: $azul-oscuro;
    
}