//ESQUIEMA DE COLOR//
$negro: #000000;
$blanco: #FFFFFF;

$azul-oscuro: #001D38;
$azul-menos-oscuro: #002C5A;
$azul-claro: #033D72;

$naranja-back: #EA9518;
$naranja-footer: #FF6900;

//Pesos tipograficos//
$roboto-ligth: 300;
$roboto-regular: 400;
$roboto-bold: 700;
$open-sans-ligth: 300;
$open-sans-regular: 400;
$open-sans-bold: 700;