.contactanos {
    background-color: $azul-oscuro;
    padding-bottom: 2rem;
}
.form {
   margin-left: 20px;
   margin-right: 20px;
   
   background-color: $blanco;
   padding-bottom: 2rem;
}

.titulo-contactanos {
    color: $blanco;
    text-align: center;
    padding-top: 2rem;
}
